* {
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: all, 0.4s ease-in-out;
}

ul, h1, h2, h3, h4 {
  margin: 0;
}

p {
  padding: 0.5em 0;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background: #40BF6B;
  color: #fff;
  display: flex;
  padding: 20px 0 20px 0;
}

header h1 {
  align-self: center;
  margin-left: 1em;
  font-size: 1.8em;
}

.logo {
  border-radius: 50%;
  width:40px;
  height: 40px;
  margin-left: 5%;
}

nav {
  width: 100%;
  background: #339956;
  color: #fff
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

nav li {
  padding: 20px 15px 20px 15px;
}

nav li.active {
  background: #CD995E;
}

nav li:hover {
  background: #40BF6B
}

#cover {
  height: 250px;
  background: url('../assets/images/cover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  opacity: 0.8;
}

section, footer {
  padding: 1em 1.5em;
}

section h2 {
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  text-align: center;
}
#desc {
  background: #40BF6B;
  color: #fff;
}

.box {
  border: 1px solid #c5c5c5;
  padding: 1em;
  margin-top: 20px;
}

.box .rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-stars i {
  font-size: 0.8em;
  color: #F3671C;
}

.awards {
  text-align: center;
}

.awards img {
  height: 150px;
}

footer {
  background: #40BF6B;
  color: #fff;
}

.social i {
  font-size: 2em;
  margin-right: 10px;
}

@media (min-width: 720px) {
  nav li {
    padding: 20px 50px 20px 50px;
  }
  #cover {
    height: 400px;
  }
  .desc-cols {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 40px 0 40px
  }
  .desc-cols p {
    padding: 10px 5px;
  }
}

@media (min-width: 960px) {

  .box-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .box {
    width: 300px;
  }
  footer {
    display: flex;
  }
  .about {
    flex-basis: 50%;
  }
  .social {
    flex-basis: 50%;
    text-align: center;
  }
}


