body {
  color: #3b3b3b;
  background: #f2f2f2;
}

table {
  border-spacing: 0;
  width: 80%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 20px auto 70px auto;
}

tr:nth-of-type(odd) {
  background: #e9e9e9;
}

tr.header {
  background: #27ae60;
  color: white;
}

table th {
  padding: 1em;
  display: none;
  text-align: left;
  cursor: pointer;
}

table th:first-child, table th:nth-child(2)  {
  display: table-cell;
}

table th:nth-child(2) span {
  display: none;
  cursor: pointer;
}

table th:nth-child(2):after {
  content: attr(data-th);
}

table td {
  display: block;
  word-wrap: break-word;
  text-align: left;
  max-width: 5em;
  transition: all 0.5s ease-in;
}

table td:first-child {
  display: table-cell;
  text-align: center;
}

.index {
  display: none;
}

td i {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5em;
  color: white;
  margin: 0 0.6em 0 0.6em
}

.edit {
  background: #4C74B5;
  margin-bottom: 1em;
}
.delete {
  background: #CF5553;
}

.edit:hover {
  background: #2d5aa5;
  cursor: pointer;
}

.delete:hover {
  background: #ad3230;
  cursor: pointer;
}

.editRow {
  margin: 0 auto 40px auto;
  width: 80%;
  display: none;
}

.editRow label, .editRow input {
  display: block;
}

form label {
  margin-bottom: 0.2em;
}
form input {
  margin-bottom: 1em;
  height: 2em;
  border-style: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0 5px 0 5px;
}

button {
  color: white;
  border-style: none;
  padding: 0.8em;
  font-size: 1em;
  border-radius: 10px;
}

.addBtn {
  background: #27ae60;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  left: 10%;
}



@media (min-width: 480px) {
  table th, table td {
    display: table-cell;
    padding: 1em;
    text-align: left;
  }

  table th:nth-child(2) span {
    display: block;
  }

  table th:nth-child(2):after {
    display: none;
  }

  .index {
    display: table-cell;
  }
}